<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (transaction(); as transactionRef) {
      <div>
        <h2 data-cy="transactionDetailsHeading"><span jhiTranslate="bussManagerApp.transaction.detail.title">Transaction</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ transactionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="bussManagerApp.transaction.value">Value</span></dt>
          <dd>
            <span>{{ transactionRef.value }}</span>
          </dd>
          <dt><span jhiTranslate="bussManagerApp.transaction.date">Date</span></dt>
          <dd>
            <span>{{ transactionRef.date | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="bussManagerApp.transaction.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'bussManagerApp.TransactionType.' + (transactionRef.type ?? 'null')">{{
              { null: '', INCOME: 'Receita', EXPENSE: 'Despesa' }[transactionRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="bussManagerApp.transaction.company">Company</span></dt>
          <dd>
            @if (transaction()!.company) {
              <div>
                <a [routerLink]="['/company', transaction()!.company?.id, 'view']">{{ transactionRef.company?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/transaction', transactionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
